<div class="object-position-add-section" *ngIf = "show">
  <form class = "add-position-form">
    <button class ="button-primary" type="button" name="buttonBack" (click) = "BackToControlSection()">Rentrer</button><br>
    <label for="object-type">Entrer le type d'objet</label>
    <input type = "text" name ="object-type" id = "object-type" #objectType>
    <br>

    <label for="new-parameter">Ajouter le paramètre</label>
    <input type = "text" name="new-parameter" id="new-parameter" #newParameter>

    <button type="button" id="button" class="button-primary" (click) = "addParameter(newParameter.value)">+</button>

    <button  type ="button" name="button" id="button" class="button-primary" (click)= "addObjectType(objectType.value)">Ajouter nouveau type d'objet</button>
    </form>
    <div class ="add-params">
         <form class="params" id="params">
           <ul>
             <li *ngFor = "let parameter of parameters">{{parameter}}<button type="button" class = "button-primary" (click) = "removeParameter(parameter)">X</button></li>
           </ul>
        </form>
      </div>
</div>
