.object-position-add-section {
  width: 50%;
  margin-top: 10px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  background-image: linear-gradient(
    to right,rgba(228,230,243,0.8), rgba(78,123,237,0.8)
    );
}

#button {
  margin-left: 20px;
}

span {
  margin-left : 15px;
  color : red;
  font-size: 20px;
}
