/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Dot;
  src: url("./app/ressources/fonts/Dots.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}


body {
  margin: 0;
  padding: 0;
}
